    @import url("https://fonts.googleapis.com/css?family=Lato:400,700");

    :root {
        --primaryColor: black;
        --mainWhite: #fff;
        --mainBlack: #222;
        --mainGrey: #ececec;
        --mainSpacing: 0.1rem;
        --mainTransition: all 0.3s linear;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
    }

    .banner-btn {
        padding: 1rem 3rem;
        text-transform: uppercase;
        letter-spacing: var(--mainSpacing);
        font-size: 1rem;
        background: var(--primaryColor);
        color: white;
        border: 1px solid var(--primaryColor);
        transition: var(--mainTransition);
        cursor: pointer;
    }

    .banner-btn:hover {
        background: transparent;
        color: var(--primaryColor);
    }

    .polygon-pay-cart {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        z-index: 9999;
        background: rgb(231, 226, 221);
        padding: 1.5rem;
        transition: var(--mainTransition);
        transform: translateX(100%);
    }

    .showpolygon-pay-cart {
        transform: translateX(0);
    }

    .transparentBcg {
        visibility: visible;
    }

    @media screen and (min-width: 768px) {
        .polygon-pay-cart {
            width: 30vw;
            min-width: 450px;
        }
    }

    .close-polygon-pay-cart {
        font-size: 1.7rem;
        cursor: pointer;
    }

    .close-polygon-pay-cart:hover {
        color: red;
    }

    .polygon-pay-cart h2 {
        text-transform: capitalize;
        text-align: center;
        letter-spacing: var(--mainSpacing);
        margin-bottom: 2rem;
    }

    .duplicate-item-in-cart {
        text-transform: capitalize;
        text-align: center;
        letter-spacing: var(--mainSpacing);
        margin-bottom: 2rem;
        color: red;
    }

    .polygon-pay-cart-item {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 1.5rem;
        margin: 1.5rem 0;
    }

    .polygon-pay-cart-item img {
        width: 75px;
        height: 75px;
    }

    .polygon-pay-cart-item h4 {
        font-size: 0.85rem;
        text-transform: capitalize;
        letter-spacing: var(--mainSpacing);
    }

    .polygon-pay-cart-item h5 {
        margin: 0.5rem 0;
        letter-spacing: var(--mainSpacing);
    }

    .item-amount {
        text-align: center;
    }

    .remove-item {
        color: grey;
        cursor: pointer;
    }

    .remove-item:hover {
        color: red
    }

    .fa-chevron-up,
    .fa-chevron-down {
        color: black;
        cursor: pointer;
    }

    .fa-chevron-up:hover,
    .fa-chevron-down:hover {
        color: white;
    }

    .polygon-pay-cart-footer {
        margin-top: 2rem;
        letter-spacing: var(--mainSpacing);
        text-align: center;
    }

    .polygon-pay-cart-footer h3 {
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
